<!--
<li> <%# link_to contest.name, contest_path(contest) %> </li>
<li> Contest description: <%# contest.description %> </li>
<li> Contest type: <%# contest.contest_type %> </li>
-->

<h3> Contest </h3>
<!-- <li> Name: <%# contest.name %> </li> -->
<!--<li> Name: <%# link_to contest.name, contest_path(contest) %> </li> -->
<li> Name: <%= link_to contest.name, contest_path(contest) %> </li>
<li> Submit Deadline: <%= contest.deadline %> </li>
<li> Starting Date: <%= contest.start %> </li>
<li> Description: <%= contest.description %> </li>
<li> Type: <%= contest.contest_type %> </li>
<li> Sponsor: <%= link_to contest.user.username, user_path(contest.user) %> </li>
<li> Referee: <%= link_to contest.referee.name, referee_path(contest.referee) %> </li>
<li> Time until deadline: <%= distance_of_time_in_words_to_now(contest.deadline) %> </li>
<li> Time until start: <%= distance_of_time_in_words_to_now(contest.start) %> </li>

<%= link_to 'New Player', new_contest_player_path(contest) %>
