<!--
<li> <%# link_to contest.name, contest_path(contest) %> </li>
<li> Contest description: <%# contest.description %> </li>
<li> Contest type: <%# contest.contest_type %> </li>
-->

<h1> Contest </h1>
<p> Name: <%= contest.name %> </p>
<p> Submit Deadline: <%= contest.deadline %> </p>
<p> Starting Date: <%= contest.start %> </p>
<p> Description: <%= contest.description %> </p>
<p> Type: <%= contest.contest_type %> </p>
<p> Sponsor: <%= link_to contest.user.username, user_path(contest.user) %>
<p> Referee: <%= link_to contest.referee.name, referee_path(contest.referee) %>
<p> Time until deadline: <%= distance_of_time_in_words_to_now(contest.deadline) %> </p>
<p> Time until start: <%= distance_of_time_in_words_to_now(contest.start) %> </p>
