<!DOCTYPE html>
<html>
    <head>
        <title>GameContestServer</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <% flash.each do |level, message| %>
            <div class="alert alert-<%= level %>"> <%= message %> </div>
        <% end %>

        <!-- Insert navbar here. -->
        <%= render "layouts/navbar" %>

        <div class="container">
            <%= yield %>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
            Does it scroll correctly?
        </h1>
    </body>
</html>
